@background-color: #660000;
@font-color:#ffffff;
@body-color: #CCCC99;
@login-background-color: #CC9955;
@login-botton-color: #CCCC99;
@btn-color:#79847f;
@table-background-odd-color: #fff;
@table-background-even-color: #fff;
@table-font-odd-color: #fff;
@table-font-even-color: #fff;
@table-head-font-color: #fff;
@table-head-backgound-color: #fff;
#gather-history {
	.fixed-table-container {
		font-weight: bold;
		background-color: @background-color;
		.pull-left,.pagination-detail {
			color:white;
		}
		thead {
			background-color: @table-head-backgound-color;
			color: @table-head-font-color;
		}

		tbody > tr:nth-of-type(2n) {
			background-color: @table-background-even-color;
			color:@table-font-even-color;
		}
		tbody > tr:nth-of-type(2n+1) {
			background-color: @table-background-odd-color;
			color:@table-font-odd-color;
		}

	}
	.clearfix {
		background-color: @table-head-backgound-color;
	}
	#tag {
		width: 280px;
		height: 70px;
		line-height: 70px;
		.btn {
			color:#ffffff;
			line-height: 70px;
			border-radius: 30px;
			position: relative;
			width:100%;
			height: 100%;
			font-size: 30px;
			font-weight: bold;
			background-color: @btn-color;
			box-shadow: 5px 10px 5px darken(@btn-color, 5%);
		}
		.btn:hover {
			background-color: lighten(@btn-color, 5%);
			box-shadow: 5px 15px 10px darken(@btn-color, 5%);
		}
	}
}