#issue-form
  form.form-horizontal
    .form-group
      h2.col-sm-12.control-label 编辑集合信息
    .form-group
      label.col-sm-2.control-label 消息内容
      .col-sm-10
        textarea.form-control(name='content', type='text', placeholder='输入内容',rows="5", required)
    .form-group
      label.col-sm-2.control-label 集合地点
      .col-sm-10
        input.form-control(name='location', type='text', placeholder='输入集合地点',required)
    .form-group
      label.col-sm-2.control-label 坐标
      .col-sm-10
        input.form-control(name='position', type='text', placeholder='集合坐标')
        input(type="hidden", name="collection", required)
    .form-group
      .col-sm-offset-2.col-sm-9
        #map.form-control
    .form-group
      .col-sm-offset-2.col-sm-2
        button.btn.btn-success(type='submit') 确认发布
      .col-sm-offset-2.col-sm-4
        button.btn.btn-danger.cancle 取消