#manage-list
  #tree
  #tag
    .btn.btn-default(type="button")
      span.glyphicon.glyphicon-edit(aria-hidden="true")
      |  编辑单位信息
    .btn.btn-default
      span.glyphicon.glyphicon-plus-sign
      |  添加下级单位
    .btn.btn-default
      span.glyphicon.glyphicon-plus-sign
      |  添加单位人员
  table#table(data-filter-control="true" data-toggle="table")
