#password-form
  form.form-horizontal
    .form-group
      h2.col-sm-12.control-label 修改密码
    .form-group
      label.col-sm-2.control-label 原始密码
      .col-sm-10
        input.form-control(name='old-password', type='password', placeholder='原始密码')
    .form-group
      label.col-sm-2.control-label 新密码
      .col-sm-10
        input.form-control(name='new-password', type='password', placeholder='新密码')
    .form-group
      .col-sm-offset-2.col-sm-2
        button.btn.btn-success(type='submit') 确认修改
      .col-sm-offset-2.col-sm-4
        button.btn.btn-danger.cancle 取消