script(type='text/javascript' src="./lib/jquery/dist/jquery.min.js")
script(type='text/javascript' src="./lib/bootstrap/dist/js/bootstrap.min.js")
script(type='text/javascript' src="./lib/bootstrap-table/dist/bootstrap-table.min.js")
//- script(type='text/javascript' src="./lib/bootstrap-table/dist/extensions/filter-control/bootstrap-table-filter-control.min.js")
script(type='text/javascript' src="./js/table.js")