doctype html
html
	include ../jade/head.jade
	body
		include ../jade/header.jade
		link(rel='stylesheet' type='text/css' href="/lib/bootstrap-fileinput/css/fileinput.min.css")
		.content(style="margin-top:40px;")
			.row
				.col-md-2
					.panel.panel-success
						//- .panel-heading
						.panel-body
							ul.list-group
								a.list-group-item.active(href="/editNews.html")
									span.glyphicon.glyphicon-edit  发布新闻
								a.list-group-item(href="/viewContribution.html")
									span.glyphicon.glyphicon-eye-open  查看投稿

				.col-md-7
					.row
						#issue-news-form
							form.form-horizontal
								.form-group
									h2.col-sm-12.control-label 编辑新闻内容
								.form-group
									label.col-sm-2.control-label 
										| 撰稿人 
										span.glyphicon.glyphicon-user
									.col-sm-10
										input.form-control(name='author', type='text', placeholder='撰稿人',required)
								.form-group
									label.col-sm-2.control-label 
										| 新闻标题 
										span.glyphicon.glyphicon-header
									.col-sm-10
										input.form-control(name='title', type='text', placeholder='新闻标题',required)
								.form-group
									label.col-sm-2.control-label
										| 消息内容 
										span.glyphicon.glyphicon-pencil
									.col-sm-10
										textarea.form-control(name='content', type='text', placeholder='输入内容',rows="10", required)
								
								.form-group
									label.col-sm-2.control-label 
										| 新闻图片 
										span.glyphicon.glyphicon-film
									.col-sm-10
										input#input-44.file-loading(name="input44[]" type="file" multiple)
								.form-group
									.col-sm-offset-2.col-sm-2
										button.btn.btn-success(type='submit')
											span.glyphicon.glyphicon-ok  确认发布
									.col-sm-offset-2.col-sm-4
										button.btn.btn-danger.cancle
											span.glyphicon.glyphicon-remove  取消
				.col-md-3
					.panel.panel-success
						.panel-heading
							| 历史消息
						.panel-body
							ul.list-group
								- for (var i = 0; i < 10; i++)
									a.list-group-item(href="#")
										span.glyphicon.glyphicon-envelope  #{"消息记录" + i}
		include ../jade/script.jade
		script(type='text/javascript' src="./lib/bootstrap-fileinput/js/fileinput.min.js")
		script(type='text/javascript' src="./lib/bootstrap-fileinput/js/locales/zh.js")
		script(type='text/javascript' src="./js/editNews.js")