doctype html
html
	include ../jade/head.jade
	body
		include ../jade/header.jade
		.content
			.issue-message
				.tree
					h3 选择发布单位
					#tree
				include ../jade/issue-form.jade
		include ../jade/script.jade
		script(type="text/javascript" charset="utf-8" src="http://map.qq.com/api/js?v=2.exp")
		script(type='text/javascript' src="./lib/bootstrap-treeview/dist/bootstrap-treeview.min.js")
		script(type='text/javascript' src="./js/issueMessageFinal.js")