doctype html
html
	include ../jade/head.jade
	body
		include ../jade/header.jade
		.content
			include ../jade/issue-form.jade
		include ../jade/script.jade
		script(type="text/javascript" charset="utf-8" src="http://map.qq.com/api/js?v=2.exp")
		script(type='text/javascript' src="./js/issueMessage.js")