doctype html
html
	include ../jade/head.jade
	body
		include ../jade/header.jade
		.content
			include ../jade/table.jade
		include ../jade/script.jade
		script(type='text/javascript' src="./js/table.js")