doctype html
html
	include ../jade/head.jade
	body
		include ../jade/header.jade
		.content
			.send-message
				.col-md-3
					.tree
						h3 选择发布单位
						#tree
				.col-md-6							
					include ../jade/send-message.jade
				.col-md-3
					.panel.panel-success
						.panel-heading
							| 历史发布消息
						.panel-body
							ul.list-group
								- for (var i = 0; i < 10; i++)
									a.list-group-item(href="#")
										span.glyphicon.glyphicon-envelope  #{"消息记录" + i}
						nav.center
							ul.pagination
								li
									a(href="#", aria-label="Previous")
										span(aria-hidden="true") 《
								-for (var i = 1; i < 6; i++)
									li
										a(href="#") #{i}
								li
									a(href="#", aria-label="Next")
										span(aria-hidden="true") 》
		include ../jade/script.jade
		script(type='text/javascript' src="./lib/bootstrap-treeview/dist/bootstrap-treeview.min.js")
		script(type='text/javascript' src="./js/sendMessageFinal.js")