//- 微信移动端网页
doctype html
html
	head
		meta(charset="utf-8")
		meta(name='viewport', content='initial-scale=1')
		link(rel='stylesheet' type='text/css' href="/lib/bootstrap/dist/css/bootstrap.min.css")
		link(rel='stylesheet' type='text/css' href="/lib/bootstrap-table/dist/bootstrap-table.min.css")
		link(rel='stylesheet' type='text/css' href="/css/wechat.css")
		title index
	body
		.content
			.title
				h2.col-sm-12 集合通知
				.details.col-sm-12
					| 现在进行紧急集合演戏，请收到消息后立即前往集合地点集合。现在进行紧急集合演戏，请收到消息后立即前往集合地点集合。
				
				button.btn 查看地点
		include ../jade/script.jade