doctype html
html
	include ../jade/head.jade
	body
		include ../jade/header.jade
		.container
			include ../jade/zhihui.jade
		include ../jade/script.jade
		script(type='text/javascript' src="./js/zhihui.js")